.advantages__slogan {
  width: 70%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 120%;
  color: #283645;
  text-align: center;
}
.advantages__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__list {
    background: #F2F2F2;
    padding: 29px 0;
    margin: 0px;
}
.advantages__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages__title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;

  text-align: center;

  color: #000000;
  padding: 10px 0;
}

.advantages__description {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;

  text-align: center;
  color: #283645;
  margin: 0 auto;
  padding: 0 15px;

  color: #283645;

}

.advantages__pic {
  position: relative;
  background: #F2F2F2;
}

.advantages__mobile-pic {
  height: 320px;
  width: 320px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.advantages__screen-pic {
  position: absolute;
  left: 90px;
  bottom: 38px;
  background-size: contain;
  background-repeat: no-repeat;
}
