.statistics {
  display: none;
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    padding-top: 40px;
  }


  @media (min-width: @desktop-width) {
    background-color: #F2F2F2;
  }
}

.statistics__cloak {
  margin: 0 20px;
}

.statistics__info {
  width: 40%;
  margin-left: 30px;
}

.statistics__link {
  color: #D22856;
}
